openapi: 3.1.0
info:
  title: A2 Technology API
  description: API para interactuar con servicios de A2 Technology
  version: 'v1'
servers:
  - url: https://a2technology.com.pe
paths:
  /api/contact:
    post:
      operationId: createContactRequest
      summary: Envía un mensaje de contacto al equipo de A2 Technology
      description: Permite a los usuarios enviar mensajes de contacto con información para solicitudes de servicios
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
                - email
                - message
              properties:
                name:
                  type: string
                  description: Nombre completo del usuario
                email:
                  type: string
                  format: email
                  description: Correo electrónico del usuario
                phone:
                  type: string
                  description: Número de teléfono del usuario (opcional)
                company:
                  type: string
                  description: Nombre de la empresa del usuario (opcional)
                message:
                  type: string
                  description: Mensaje o consulta del usuario
                service:
                  type: string
                  description: Tipo de servicio que le interesa al usuario (opcional)
      responses:
        '200':
          description: Solicitud de contacto enviada correctamente
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
        '400':
          description: Error en los datos enviados
        '500':
          description: Error interno del servidor 